@model IEnumerable<CitasMedicas_UniCode.Models.ModelCustom.Doctor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Consultory.ConsultoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameDoctor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telephone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Specialty)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Consultory.ConsultoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameDoctor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telephone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Specialty)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdDoctor }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdDoctor }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdDoctor })
        </td>
    </tr>
}

</table>
