@model CitasMedicas_UniCode.Models.ModelCustom.Consultory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Consultory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ConsultoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsultoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsultoryEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsultoryEmail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdConsultory }) |
    @Html.ActionLink("Back to List", "Index")
</p>
