@model CitasMedicas_UniCode.Models.ModelCustom.Process

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Process</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Treatment.TreatmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Treatment.TreatmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProcessName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProcessName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdProcess }) |
    @Html.ActionLink("Back to List", "Index")
</p>
